{% extends "base.html" %}

{% block title %}회원가입 완료{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/User.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/RegistrationComplete.css') }}">
{% endblock %}

{% block content %}
    <main class="complete-container">
        <h2>회원가입이 완료되었습니다!</h2>
        <p>OZ SHOP의 회원이 되신 것을 환영합니다.<br>이제 다양한 상품을 만나보세요!</p>
        <button onclick="location.href='{{ url_for('index') }}'">메인 페이지로 이동</button>
    </main>
{% endblock %}

{% block body_scripts %}
    {# No specific JS for this page, but keeping the block for consistency #}
{% endblock %}